#wp-admin-bar-sm-remove-caches svg{fill:#f0f5fa99;height:20px;transform:translateY(6px);width:20px}#wpadminbar:not(.mobile) #wp-admin-bar-sm-remove-caches:focus>.ab-item svg,#wpadminbar:not(.mobile) #wp-admin-bar-sm-remove-caches:hover>.ab-item svg{fill:#00b9eb}

/* 管理バーを画面の下部に配置し、上にサブメニューがとび出るようにスタイル */
#wpadminbar {
 position: fixed !important;  /* 管理バーを固定 */
 bottom: 0 !important;        /* 最下部に配置 */
}

#wpadminbar .ab-item {
 position: relative;  /* 親要素に位置指定を追加 */
}

#wpadminbar .ab-sub-wrapper {
 position: absolute;    /* サブメニューの位置を絶対配置 */
 // top: -100% !important;  /* 親メニューの上にサブメニューを配置 */
 left: 0;
 bottom: 30px;
 background-color: #1d2327;
}